{% extends 'partials/base.twig' %}

{% set header %}{% include 'partials/header.twig' %}{% endset %}
{% set footer %}{% include 'partials/footer.twig' %}{% endset %}
{% set loginform = '' %}
{% set cookiesalert = '' %}
{% set head_extra = '' %}
{% set body_extra = '' %}
{% set foot_extra = '' %}

{% block content %}

  <form class="search-results-form" data-search-form role="search" method="get" action="{{ site.search.results_page }}">
    <input class="search-results-input" name="{{ site.search.param }}" type="search" data-search-input placeholder="{{ site.search.placeholder }}" autocomplete="off"/>
    <button class="search-results-submit button button-icon button-ghost" type="submit" aria-label="{{ site.search.submit_label }}">
      <svg class="icon" aria-hidden="true" focusable="false">
        <use xlink:href="{{ asset(site.project_prefix ~ '/icons/sprite.svg#icon-search', site.assets_prefix) }}"></use>
      </svg>
    </button>
  </form>

  <div class="container maincontainer">
    {% if content.results and content.results|length > 0 %}
      <div id="postsblock">
        <div class="posts-wrapper">
          <div class="posts-collection-list-wrapper w-dyn-list">
            <div role="list" class="posts-collection-list w-dyn-items w-row">
              {% for result in content.results %}
                <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                  <a href="{{ result.url }}" class="posts-image w-inline-block">
                    <img loading="lazy" src="{{ result.image }}" alt="{{ result.title }}"/>
                  </a>
                  <div class="post-info-text">
                    <a href="{{ result.url }}" class="post-title w-inline-block">
                      <h3 class="h3">{{ result.title }}</h3>
                      <div class="intro-text">{{ result.intro }}</div>
                    </a>
                    <div class="post-author-text cc-small-thumbnail">
                      <div class="post-author cc-top-margin">Автор:</div>
                      <a href="{{ result.author_url }}" class="post-author">{{ result.author_name }}</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    {% else %}
      <div class="search-results-empty">
        <p>По вашему запросу ничего не найдено.</p>
      </div>
    {% endif %}
  </div>

{% endblock %}
